<h3>CART:</h3>
<div>
    <ul id="example-list" class="list-group">
        {{#each cart_items}}
        <li data-id="{{this.id}}" class="list-group-item">
            <a href="product/{{this.id}}">{{this.name}} : &quot{{this.text}}" &nbsp price: ${{this.price}} </a>
            <button class="btn btn-danger float-right delete">remove from cart</button>
        </li>
        {{/each}}
    </ul>
</div>
<div>
    <button class="btn btn-outline-warning buy">CheckouT</button>
</div>

<div>
    <h3><a href="/">Back to homE</a></h3>
    <h3><a href="food">FooD</a></h3>
    <h3><a href="gear">GeaR</a></h3>
    <h3><a href="weapons">WeaponS</a></h3>
    <h3><a href="cart">Go to carT</a></h3>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/delete.js"></script>

</div>






















{{!-- <h3>CART:</h3>
<div "col-md-12"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Item namE</th>
            <th scope="col">DescriptioN</th>
            <th scope="col">PricE</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each cart_items}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.text}}</td>
            <td>{{this.price}}</td>
            <td></td>
            <td><button type="button gear-1" class="btn btn-danger delete">remove from cart</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<div>
    <h3><a href="/">Back to homE</a></h3>
    <h3><a href="food">FooD</a></h3>
    <h3><a href="gear">GeaR</a></h3>
    <h3><a href="weapons">WeaponS</a></h3>
    <h3><a href="cart">Go to carT</a></h3>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/delete.js"></script> --}}