<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="heading">{{msg}}</h1>
        <div class="animation-body">
        <h2 class="buyNotDie">Let's buy and not die!!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="row">
        <div class="col-md-4">
          <h2>GeaR</h2>
          <img class="img-responsive img armor">
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">TypE</th>
      <th scope="col">QtY</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{!-- buttons can be accessed by class gear-1, gear-2, ect --}}
    {{#each gear}}
    <tr>
      <th scope="row gear-table">1</th>
      <td>{{this.name}}</td>
      <td></td>
      <td><button type="button gear-1" class="btn btn-danger">BuY</button></td>
    </tr>
    {{/each}}
    <tr>
  </tbody>
</table>
</div>
        <div class="col-md-4">
          <h2>FooD</h2>
          <img class="img-responsive img food">
                <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">TypE</th>
      <th scope="col">QtY</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{!-- buttons can be accessed by class gear-1, gear-2, ect --}}
    {{#each gear}}
    <tr>
      <th scope="row gear-table">1</th>
      <td>{{this.name}}</td>
      <td></td>
      <td><button type="button gear-1" class="btn btn-danger">BuY</button></td>
    </tr>
    {{/each}}
    <tr>
  </tbody>
</table>
        </div>
        <div class="col-md-4">
          <h2>WeaponS</h2>
          <img class="img-responsive img weapons">
                <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">TypE</th>
      <th scope="col">QtY</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{!-- buttons can be accessed by class gear-1, gear-2, ect --}}
    {{#each gear}}
    <tr>
      <th scope="row gear-table">1</th>
      <td>{{this.name}}</td>
      <td></td>
      <td><button type="button gear-1" class="btn btn-danger">BuY</button></td>
    </tr>
    {{/each}}
    <tr>
  </tbody>
</table>
        </div>
        </div>
          </div>
          {{!-- <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button> --}}
        </form>
    
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.name}} : &quot{{this.text}}" &nbsp   price: ${{this.price}}   &nbsp amount in stock: {{this.quantity}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        <div class="col-10 offset-1">
          <h2 class="survival">"We do survivaL"</h2>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

